@import "imports/font.scss";
@import "imports/root.scss";
@import "imports/globalConfig.scss";

body{
    font: {
        family: var(--regularFont);
        style:normal;
    }
    background: var(--grayOpacColor)!important;
    scroll-behavior: smooth;
}

.navbar-Over{
    position: fixed!important;
    top: 0;
    width:100%;
    z-index: 99;
    box-shadow: 0 10px 30px rgba($color: #005801, $alpha: .16);  
    transition: all ease-out .8s !important;
    .navbar-brand{
        img{
            height:40px!important;
            transition: height .8s;
            object-fit: cover;
        }
    }

    .navbar-collapse {
        .navbar-nav{
            font: {
                family:var(--mediumFont);
                size:1.1rem!important;
            }
        }
        .buttons-items{
            .btn-access{
                font: {
                    family:var(--mediumFont);
                    size:0.8rem!important;
                }               
            }

        }
    }

}

.navbar{
    background-color: var(--grayOpacColor);
    transition: all ease-out .5s !important;
    .navbar-brand{
        img{
            height:70px;
            transition: height .5s;
            object-fit: cover;
        }
    }
    .navbar-toggler{
        outline:none !important;
        border:none;
    }
    .navbar-collapse {
        .navbar-nav{
            font: {
                family:var(--mediumFont);
                size:1.2rem;
            }
            .nav-item{
                .nav-link{
                    color: var(--darkColor)!important;
                    &:hover{
                        color: var(--greenLightColor) !important;
                        text-decoration: underline;
                    }
                }
            }
        }
        .buttons-items{
            .btn-group{
                padding-left: 20px!important;
                .btn-user{
                    box-shadow: none;
                    outline: none;                    
                }
                .btn-down{
                    box-shadow: none;
                    outline: none;
                }
                .dropdown-menu{
                    border: none!important;
                    box-shadow: 0 10px 20px rgba($color: #000000, $alpha: .16);
                    width:120px!important;
                    .dropdown-item:hover{
                        background-color: var(--greenLightColor);
                        color:white;
                    }
                }
            }
            .btn-access{
                font: {
                    family:var(--mediumFont);
                    size:1rem;
                }
                background-color:var(--greenLightColor);
                margin:3px 5px;
                padding:5px;
                width:100px;
                text-align: center;
                color:var(--blueLightColor)!important;
                border-radius:10px;
                box-shadow: 5px 5px 20px rgba($color: #000000, $alpha: .165);
                &:hover{
                    background-color:var(--blueLightColor)!important;
                    transition: ease-in 0.3s;
                    color:var(--darkColor)!important;
                }
            }

        }
    }
}
// Media Query for Navbar
@media screen and (min-width:768px){
    .buttons-items{
        display: flex!important;
        flex-direction: row!important;
    }
}
@media screen and (max-width:768px){
    .buttons-items{
        display: flex!important;
        flex-direction: row!important;
        border-radius:0!important;
    }
}

// End Navbar Navigation

// Hero Init
.hero{
    width: 100%;
    height: 30rem;
    background-color: var(--blueLightColor);
    .container .hero-content{
       align-items: center !important;
       h2{
          font: {
              family:var(--mediumFont);
              weight:bold;
              size:26pt;
           }
           color:var(--greenLightColor);
           padding:5px 0;
       }
       h1{
            max-width: 45rem;
            text-align:center;
            line-height: 65px;
            font: {
                family:var(--regularFont);
                size:40pt;
            }
       }
       p{
            max-width: 23.6rem;
            font: {
                family: var(--lightFont);
                size:20pt;
            }
            text-align: center;
       }
       .load-btn{
           width: 200px;
           padding: 10px;
           background-color: var(--greenLightColor);
           color:var(--grayOpacColor);
           text-align: center;
           border-radius: 12px;
           font: {
               family:var(--lightFont);
               size:16pt;
           }
       }
    }
}
// Media Query for Hero

@media screen and (min-width:768px){
    .buttons-items{
        display: flex!important;
        flex-direction: row!important;
        border-radius:0!important;
    }
}
@media screen and (max-width: 780px){
    .container .hero-content{
        align-items: center !important;
        h2{
           font: {
               family:var(--mediumFont);
               weight:bold;
               size:26pt!important;
            }
            color:var(--greenLightColor);
            padding:3px 0;
        }
        h1{
             max-width: 45rem;
             text-align:center;
             line-height: 50px!important;
             font: {
                 family:var(--regularFont);
                 size:30pt!important;
             }
        }
        p{
             max-width: 23.6rem;
             font: {
                 family: var(--lightFont);
                 size:18pt!important;
             }
             text-align: center;
        }
        .load-btn{
            width: 150px!important;
            padding: 10px;
            background-color: var(--greenLightColor);
            color:var(--grayOpacColor);
            text-align: center;
            border-radius: 12px;
            font: {
                family:var(--lightFont);
                size:14pt!important;
            }
        }
     }
}

@media screen and (max-width: 375px){
    .container .hero-content{
        h1{
             max-width: 45rem;
             text-align:center;
             line-height: 45px!important;
             font: {
                 family:var(--regularFont);
                 size:25pt!important;
             }
        }
        p{
             max-width: 23.6rem;
             font: {
                 family: var(--lightFont);
                 size:16pt!important;
             }
             text-align: center;
        }
        .load-btn{
            width: 150px!important;
            padding: 10px;
            background-color: var(--greenLightColor);
            color:var(--grayOpacColor);
            text-align: center;
            border-radius: 12px;
            font: {
                family:var(--lightFont);
                size:14pt!important;
            }
        }
     }
}

// End Hero

// About Platafform

.about-plataform{

    padding:60px 0;
    color: var(--darkColor);
    .about-text{
        position: relative;
        h2{
            font: {
                family: var(--mediumFont);
                size:26pt;
            }
            padding:15px 0 0 0;
            line-height: 50px;
        }
        h2::before{
            content: '';
            position: absolute;
            width: 60px;
            height: 12px;
            background-color: var(--greenLightColor);
            border-radius: 20px;
            top: 0;
            left: 0;
        }
        p{
            font: {
                family: var(--lightFont);
                size: 15pt;
            }
            opacity: .6;
            line-height: 35px;
        }
    }

    // Cards Possibility
    .cards-possibility{   
        padding:20px 0!important;     
        .card-items{
            .card-row{
                display:flex!important;                
                .efect{
                    content: url('../img/Grupo\ de\ máscara\ 2@2x.png');
                    width: 80px;
                    height: 80px;
                    border-radius:20px;
                    box-shadow: 0 15px 30px rgba($color: #000000, $alpha: .16);                    
                }

                .card-content{
                    padding: 0 12px!important;
                    h3{
                        margin: 0;
                        padding: 5px 0;
                        font: {
                            family: var(--mediumFont);
                            size:16pt;
                        }
                    }
                    p{
                        margin:0;
                        font: {
                            family: var(--lightFont);
                            size: 12pt;
                        }
                        color:gray;
                        opacity: .7;
                    }
                }
            }
        }
    }
}


//Media Query Platafform

@media screen and (max-width:1200px){ 
    .card-content{
        h3{
            font-size:15pt!important;
        }
        p{
            font-size: 11pt!important;
        }
    }
    .about-text{        
        h2{
            font-size:24pt!important;        
            line-height: 40px!important;
        }        
        p{            
            font-size: 14pt!important;            
            line-height: 35px;
        }
    }
}
@media screen and (max-width:990px){ 
    .about-text{  
        //background-color: red!important;
        padding: 10px 0;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h2{
            font-size:28pt!important;        
            line-height: 50px!important;
            text-align: center;      
            width: 400px;           
            padding:0 0 10px 0!important;       
        }
        h2::before{
            content: '';
            position: absolute;
            width: 0px!important;
            height: 0px!important;            
        }      
        p{            
            font-size: 14pt!important;            
            line-height: 25px!important;
            text-align: center; 
            width: 500px;
        }
    }
    .card-content{
        h3{
            font-size:15pt!important;
        }
        p{
            font-size: 11pt!important;
        }
    }
}

//card-items

@media screen and (max-width:765px){ 
   
    .about-text{  

        h2{
            font-size:25pt!important;        
            line-height: 40px!important;
            text-align: center;      
            width: 400px;           
            padding:0 0 10px 0!important;       
        }

        p{            
            font-size: 13pt!important;            
            line-height: 25px!important;
            text-align: center; 
            width: 350px;
        }

    }
   
    .cards-possibility{
        display: flex!important;        
    }
    .card-items {
        
        width: 250px!important;
        height: 180px!important;        

        .card-row{
            flex-direction: column!important;
            justify-content: center!important;            
            .efect{                                
                width: 60px!important;
                height: 60px!important;        
                margin:8px 12px;        
            }
        }
    }

    .container .hero-content{
        h1{
             max-width: 45rem;
             text-align:center;
             line-height: 40px!important;           
             font-size:24pt!important;             
        }
        p{
             max-width: 23.6rem;             
             font-size:14pt!important;            
             text-align: center;
        }
        .load-btn{
            width: 150px!important;
            padding: 10px;
            background-color: var(--greenLightColor);
            color:var(--grayOpacColor);
            text-align: center;
            border-radius: 12px;
            font: {
                family:var(--lightFont);
                size:14pt!important;
            }
        }
     }

}

@media screen and (max-width:550px){

    .cards-possibility{        
        flex-direction: column!important;        
        //background-color: royalblue;
        .card-items{
            width:400px!important;
            height: 80px!important;
           // background-color: blue;
            .card-row{ 
                flex-direction: row!important;           
            }
        }
    }
} 

@media screen and (max-width:420px){
    .card-items {
        
        max-width: 250px!important;
        height: 180px!important;              
        margin: 0 0 0 58px;
        .card-row{
            flex-direction: column!important;
            justify-content: center!important;            
            .efect{                                
                width: 60px!important;
                height: 60px!important;        
                margin:8px 12px;        
            }
            .card-content{
                h3{
                    font-size:13pt!important;
                    width: 250px;
                }
                p{
                    font-size: 10pt!important;
                    width: 200px;
                }
            }
        }
    }

    .container .hero-content{
        h1{
             max-width: 45rem;
             text-align:center;
             line-height: 30px!important;           
             font-size:18pt!important;             
        }
        p{
             max-width: 23.6rem;             
             font-size:12pt!important;            
             text-align: center;
        }
        .load-btn{
            width: 150px!important;
            padding: 10px;
            background-color: var(--greenLightColor);
            color:var(--grayOpacColor);
            text-align: center;
            border-radius: 12px;
            font: {
                family:var(--lightFont);
                size:14pt!important;
            }
        }
     }

     .about-text{  

        h2{
            font-size:22pt!important;        
            line-height: 32px!important;
            text-align: center;      
            width: 300px;           
            padding:0 0 10px 0!important;       
        }

        p{            
            font-size: 12pt!important;            
            line-height: 22px!important;
            text-align: center; 
            width: 300px;            
        }

    }

}

//End About PLataform

// Investiment Section

.investment-section{    
    .investment-text{
        position: relative;
        h2{
            font: {
                family: var(--mediumFont);
                size:30pt;
            }
            padding:15px 0 0 0;
            line-height: 50px;
        }
        h2::before{
            content: '';
            position: absolute;
            width: 60px;
            height: 12px;
            background-color: var(--greenLightColor);
            border-radius: 20px;
            top: 0;
            left: 0;
        }
        p{
            font: {
                family: var(--lightFont);
                size: 20pt;
            }
            opacity: .6;
            line-height: 35px;
            padding:10px 0;
        }
        a{
            font: {
                family:var(--lightFont);
                size:1.3rem;
            }
            background-color:var(--greenLightColor);            
            padding:10px;            
            text-align: center;
            color:var(--blueLightColor)!important;
            border-radius:6px;
        }
    }

    .image img{
        margin: 0;
        width: 500px;
    }    

}

// Media Query Investiment

@media screen and (max-width:1200px){    
    .investment-text{        
        h2{
            
            font-size:25pt!important;                        
            line-height: 40px!important;
        }        
        p{            
            font-size: 18pt!important;          
            line-height: 35px;            
        }        
    }
    .image img{
        margin: 0;
        width: 400px!important;
    }
}
@media screen and (max-width:990px){    
    .investment-text{        
        h2{
            
            font-size:20pt!important;                        
            line-height: 35px!important;
        }        
        p{            
            font-size: 16pt!important;          
            line-height: 30px;            
        }        
        a{           
            font-size:1.1rem!important;                    
        }        
    }
    .image img{
        margin: 0;
        width: 350px!important;
    }
}
@media screen and (max-width:765px){    
    .image img{
        margin: 0;
        width: 500px!important;
    }
}
@media screen and (max-width:550px){    
    .image img{
        margin: 0;
        width: 400px!important;
    }
    .investment-text{                    
        p{            
            font-size: 14pt!important;          
            line-height: 25px!important;            
        }        
        a{           
            font-size:1.1rem!important;                    
        }        
    }
}
@media screen and (max-width:420px){
    .investment-text{                
        h2{
            
            font-size:18pt!important;                        
            line-height: 35px!important;
        }           
        p{            
            font-size: 12pt!important;          
            line-height: 25px!important;            
        }        
        a{           
            font-size:1rem!important;                    
        }        
    }
    .image img{
        margin: 0;
        width: 300px!important;
    }
    .footer-section{
        span{
            font-size: 0.8rem!important;
        }
    }
}
// End Investiment

// Footer
.footer-section{
    background-color: var(--blueLightColor);
    padding:10px 0;
    text-align: center;
    span{
        font: {
            color: var(--darkColor);
            size:1rem;
        }
    }
}