@font-face{
    font: {
        family: 'Barlow';
        style: normal;
    }
    src: url('../vendor/font/BarlowCondense/BarlowCondensed-Regular.ttf')  format('truetype');
}
@font-face{
    font: {
        family: 'Barlow Condensed Light';
        style: normal;
    }
    src: url('../vendor/font/BarlowCondense/BarlowCondensed-Light.ttf') format('truetype');
}
@font-face{
    font: {
        family: 'Barlow Condensed Medium';
        style: normal;
    }
    src: url('../vendor/font/BarlowCondense/BarlowCondensed-Medium.ttf') format('truetype');
}